<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="Vehicles" type="Race2.Models.VehiclesConfigSection, Race2"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Race2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <Vehicles>
    <Racers>
      <add numberOrder="1" vehicleType="Light" speed="90" puncture="0.03" people="0"/>
      <add numberOrder="2" vehicleType="Light" speed="95" puncture="0.004" people="2"/>
      <add numberOrder="3" vehicleType="Moto" speed="100" puncture="0.01" hasSidecar="True"/>
      <add numberOrder="4" vehicleType="Moto" speed="110" puncture="0.07" hasSidecar="False"/>
      <add numberOrder="5" vehicleType="Heavy" speed="80" puncture="0.015" weight="3000"/>
      <add numberOrder="6" vehicleType="Heavy" speed="70" puncture="0.008" weight="2500"/>
    </Racers>
  </Vehicles>
    <userSettings>
        <Race2.Properties.Settings>
            <setting name="OraName" serializeAs="String">
                <value />
            </setting>
            <setting name="OraBD" serializeAs="String">
                <value />
            </setting>
        </Race2.Properties.Settings>
        <DXThemeManager>
            <setting name="ApplicationThemeName" serializeAs="String">
                <value>MetropolisLight</value>
            </setting>
        </DXThemeManager>
    </userSettings>
</configuration>